# Запрет на прямой доступ к файлам *.inc, *.rar
<Files "*.inc">
    Order Deny,Allow
    Deny from all
</Files>
<Files  "*.html">
    Order Deny,Allow
    Deny from all
</Files>
<Files "*.rar">
    Order Deny,Allow
    Deny from all
</Files>
# Запрещаем показывать список файлов в директориях, где нет индексного файла
Options -Indexes
# Убеждаемся, что всё настроено по дефолту
php_value magic_quotes_gpc off
php_value register_globals off
# Turn ETags Off

# Не пускаем Internet Explorer
Options +FollowSymLinks
RewriteEngine on
#RewriteCond %{HTTP_USER_AGENT} MSIE.* [NC]
#RewriteRule (.*) http://www.shashkovs.ru/ie/ [L]


# Перенаправляем со всех возможных начальных страниц по ВМШ на одну и ту же
RewriteCond %{HTTP_HOST} ^shashkovs.ru
RewriteRule (.*) http://www.shashkovs.ru/vmsh-test/$1 [R=301,L]

#RewriteCond %{REQUEST_URI} !/vmsh-test/index.php [NC]
#RewriteCond %{REQUEST_URI} /vmsh-test/index [NC]
#RewriteRule ^.*$ http://www.shashkovs.ru/vmsh-test/ [R=301,L]

RewriteCond %{THE_REQUEST} /about/index [NC]
RewriteRule ^.*$ http://www.shashkovs.ru/vmsh-test/about/ [R=301,L]
RewriteCond %{THE_REQUEST} /contact/index [NC]
RewriteRule ^.*$ http://www.shashkovs.ru/vmsh-test/contact/ [R=301,L]
RewriteCond %{THE_REQUEST} /index [NC]
RewriteRule ^.*$ http://www.shashkovs.ru/vmsh-test/ [R=301,L]

# Перенаправляем все попытки получить html или pdf с задачами или решениями
# RewriteCond %{REQUEST_URI} /vmsh-test/data/ [NC]
# RewriteRule ^.*/data/(.*)$ http://www.shashkovs.ru/vmsh-test/checkdata.php?file=$1

# Запрещаем напрямую обращаться к изображениям
#RewriteCond %{HTTP_REFERER} .
#RewriteCond %{REQUEST_URI} /vmsh-test/i/ [NC]
#RewriteCond %{REQUEST_URI} !/vmsh-test/i/panel [NC]
#RewriteCond %{HTTP_REFERER} !^http://www\.shashkovs\.ru/vmsh-test/$ [NC]
#RewriteCond %{HTTP_REFERER} !^http://www\.shashkovs\.ru/vmsh-test/about/$ [NC]
#RewriteCond %{HTTP_REFERER} !^http://www\.shashkovs\.ru/vmsh-test/contact/$ [NC]
#RewriteRule \.(png)$ http://www.shashkovs.ru/vmsh-test/c/stop.jpg [NC,L]

RewriteCond %{THE_REQUEST} /i/ [NC]
RewriteRule ^(.*)$ http://www.shashkovs.ru/$1


################################
# Настраиваем доступ по паролю #
################################
AuthName "VMSh, 8 klass"
AuthType Basic
require valid-user
AuthUserFile /home/host1000218/shashkovs.ru/htdocs/www/vmsh-test/conduit/.htpasswd
#<Limit GET POST PUT>
#Require valid-user
#</Limit>



# Архивируем всё
# AddOutputFilterByType DEFLATE text/plain
# AddOutputFilterByType DEFLATE text/html
# AddOutputFilterByType DEFLATE text/xml
# AddOutputFilterByType DEFLATE text/css
# AddOutputFilterByType DEFLATE application/xml
# AddOutputFilterByType DEFLATE application/xhtml+xml
# AddOutputFilterByType DEFLATE application/rss+xml
# AddOutputFilterByType DEFLATE application/javascript
# AddOutputFilterByType DEFLATE application/x-javascript

# Кешируем всё
# Set up caching on media files for 1 week
#<FilesMatch "\.(gif|jpg|jpeg|png|swf)$">
#ExpiresActive on
#ExpiresDefault "modification plus 600 seconds"
#</FilesMatch>
ExpiresActive On
ExpiresByType image/x-icon A604800
ExpiresByType image/gif A604800
ExpiresByType image/jpeg A604800
ExpiresByType image/png A604800
ExpiresByType text/css A604800
ExpiresByType text/javascript A604800
ExpiresByType application/x-javascript A604800


# Пути для поиска файлов
php_value include_path "/home/host1000218/shashkovs.ru/htdocs/www/vmsh-test/conduit/"

# Сообщения об ошибках
ErrorDocument 401 http://www.shashkovs.ru/401/
ErrorDocument 403 http://www.shashkovs.ru/403/
ErrorDocument 404 http://www.shashkovs.ru/vmsh-test/
ErrorDocument 500 http://www.shashkovs.ru/vmsh-test/

# Логирование ошибок
php_value display_errors on
php_value display_startup_errors on
php_value error_log "/home/host1000218/shashkovs.ru/htdocs/www/vmsh-test/conduit/conduit.log"